/.vscode
/venv
/__pycache__
/reports
/resources
/task1/.vscode
/task1/venv
/task1/__pycache__
/task2/*.db
/task2/.vscode
/task2/venv
/task2/__pycache__
/task2/draft1.py
/kyivbot/draft1.py
/kyivbot/diagrams